@charset "ISO-8859-1";

* {
    text-decoration: none;
}
.header {
    width: 100%;
    height: 120px; 
    background-image: linear-gradient(0, #fdfefe, #149bf5);
}
h1.navbar-logo {
    margin-bottom: 0;
    overflow: hidden;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar_list {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
}

.navbar-item, .navbar-item-link {
    display: inline-block;
    justify-content: space-between;
    color: var(--white-color);
    font-size: 13px;
    margin: 0 5px;
    font-weight: 300;
    position: relative;
}
.navbar-item:hover, .navbar-item-link:hover {
    color: #CCD1D1;
    cursor: pointer;
}

.navbar-item-separate::after {
    content: "";
    display: block;
    position: absolute;
}
.navbar_list-icon {
    font-size: 15px;
}

/* Header Qr code*/
.navbar-qr {
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: none;
    margin: 5px 0;
    animation: fadein ease-in 0.5s;
} 
.navbar-has-qr:hover .navbar-qr{
    display: block;
}
.navbar-has-notify:hover .navbar-notify {
    display: block;
}

.navbar-qr::before {
    position: absolute;
    width: 100%;
    height: 5px;
    display: block;
}
@keyframes fadein{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.navbar-qr-img {
    border-top:3px solid rgb(90, 171, 221);
}
img.navbar-qr-img {
    width: 160px;
}
img.download-img {
    width: 70px;
    margin: 0 3px;
}

/*Notification*/
.navbar-notify {
    position: absolute;
    top: 100%;
    width: 400px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid rgb(133, 198, 245);
    font-size: 12px;
    transform-origin:calc(100% - 20px) 100% top;
    animation: headerGrow ease-in 0.3s;
    display: none;
    cursor: pointer;
    z-index: 100;
}
@keyframes headerGrow{
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.header-notify {
    width: 100%;
}
.header-notify h3 {
    color: var(--blue-color);
    margin: 3px 12px;
    
}
.navbar-notify-list {
    list-style: none;
    padding-left: 0;
}
.navbar-notify-item {
    margin: 5px 0;   
}
.navbar-notify-item:hover {
    background-color: var(--lightblue-color);
}
.navbar-notify-item-viewed {
    background-color: #FAE5D3;
}
.notify-link {
    display: flex;
    width: 100%;
    margin: 3px 13px;
    
}
.notify-img {
    color: none;
    margin: 0 10px;
}
img.notify-img {
    margin: 0 8px 0 0;
    margin-top: 1px;
    width: 45px;
    height: 45px;
    overflow: hidden;
}
.notify-body {
    width: 100%;
}
.notify-name {
    display: block;
    font-weight: 400;
    top: 100%;
    font-size: 13px;
}
.notify-description{
    display: block;
    font-size: 10px;
    line-height: 10px;
    
}
.footer-notify {
    display: flex;
}
.footer-notify:hover {
    background: var(--blue-color);
}
.footer-notify-btn {
    padding: 8px 30px;
    margin: auto;
    font-weight: 400;
    font-size: 15px;
}

/*Header Search*/
.navbar-search {
    display: flex;
    align-items: center;
    width: 100%;
}
.navbar-logo {
    width: 180px;
    justify-content: center;
    margin: 0 4px;
    align-items: center;
    
}
h1.logo-title {
    color: var(--white-color);
}
.search-product {
    flex: 1;
    position: relative;
}
.product-history {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    background-color: #F2F4F4;
    width: calc(50% - 14px);
    border-radius: 2px;
    border: 1px solid #D6EAF8;
    box-shadow: 0 1px 20px #D6EAF8;
    margin: 0 15px;
    display: none;
    z-index: 100;
}
.form-control-p:focus ~ .product-history {
    display: block;
}
.history-heading {
    margin: 8px 17px;
    font-weight: 300;
    font-size: 14px;
}
.history-list {
    list-style: none;
    margin-top: 4px;
}
.history-item {
    padding: 8px;
    height: 38px;
}
.history-item:hover {
    background-color: #EBEDEF;
}
a.history-link {
    color: #333;
    display: block;
}
.form-control-p {
    height: 38px;
    border: none;
    border-radius: 30px 0 0 30px;
    width: 50%;
    outline: none;
    padding: 0 10px;
    font-weight: 300; 
    
}
.btn-p {
    min-width: 50px;
    height: 38px;
    text-decoration: none;
    border: none;
    border-radius: 0 30px 30px 0;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}
.btn-p:hover {
    background-color: #4380ED;
}

.cart-product {
    position: relative;
    margin: 0 10px;
}
.cart-product-icon {
    color: var(--white-color);
    font-size: 20px;
}
.cart-product-icon:hover {
    color: #EBF5FB;
}
.product-list {
    list-style: none;
    display: flex;
    margin: 0 4px;
}
.product-link {  
  margin: 0 0px 0 20px ;
}
.header-product-item a.product-link {
    color: var(--white-color)
}

